# Packaging information
libpypack.egg-info/
dist/
build/
libpypack/__pycache__/
libpypack/examples/__pycache__/
test_data/__pycache__/__init__.cpython-37.pyc
libpypack/locations/__pycache__/

# Geonames index, this should be downloaded locally not on Git
geonames_index.tar.gz
libpypack/examples/geonames_index/

# MAC
.DS_Store
